*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size:100%;
}

/*Table of Content
===================================
General
Home
    Social
Navigation
About
    Timeline
    Technical Skills
Project
Contact
Footer
===================================*/


/*General
===================================*/
html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color:white;
    font-family: sans-serif;
}

h1{
    display: block;
}

.fix-top{
    position: fixed;
}

section{
    padding-top: 8rem;
    padding-bottom: 7.2rem;
}

.section-header{
    /* height:100%; */
    text-align: center;
    /* padding-top: 12rem; */
    font-weight:bold;

}

.section-header h3{
    font-size: 5vw;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .4rem;
}

.row{
    /* width: auto; */
}

.shift-right{
    margin-left: 15px;
}

/*Home
===================================*/
#home{
    padding-top: 0;
    position: relative;
    height: 100%;
    background-color: black;
    text-align: center;
    z-index: 9999;
}

.home-intro h1{
    font-size: 90px;
    color: white;
    padding-top: 18%;
    vertical-align: middle;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, .8);
}

.home-intro span{
    color: skyblue;
}



#home .home-intro .social li a{
    color: white;
}

/*Social*/
#home .social{
    margin: 48px 0;
    padding:0;
    list-style: none;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, .8);
}

#home .social li{
    display: inline-block;
    padding: 0 24px;
}

/*Navigation
===================================*/
nav{
    width: 100%;
    /* padding: 20px 0; */
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color:white;
    top:0;
    position: relative;
    
}

nav ul{
    float: right;
    margin-top: 1rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

nav ul li.current a{
    color: red;
}

.scrolldown a{
    scroll-behavior: smooth;
    color:white;
}

#nav-wrap {
    transition: top 0.8s;
}

/*About
=====================*/

.subection-header{
    text-align: center;
    color: orange;
    /* margin-bottom: 3rem; */
    margin-top: 3rem;
}

/*
Timeline subsection*/
.timeline-section {
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
}

.timeline-section p{
    color: gray;
}

.timeline-subsection {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.timeline-block{
    position: relative;
}


.timeline-title{
    float:left;
    padding-right: 2rem;
    width: 40%;
    text-align: right;
}

#about .timeline-block{
    padding-bottom: 2rem;
}

.timeline-desc{
    margin-left: 40%;
    padding-left:1.2rem;
}

.timeline-desc .institute-name{
    font-weight: bold;
}

.timeline-desc .course-list {
    color:black;
}

.timeline-desc .courses ul li{
    list-style: none;
}

.timeline-desc .courses-header{
    font-style: italic;
    color: orange;
    text-align: center;
    font-weight: bold;
}

.timeline-desc p{
    margin-top: 1.5rem;
}

/*Technical Skills Subsection*/

#about .skills-section ul{
    display: flex;
    width: 90%;
    flex-wrap:wrap;
    justify-content: center;
    margin: auto;
    
}

#about .skills-section ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

#about .skills-section ul li i{
    font-size:100px;
}

#about .skills-section ul li span{
    font-size:25px;
    font-family: sans-serif;
}


/*Project
=====================*/
#project{
    background-color: gray;
    color:white;
}

#project .project-row{
    padding-bottom: 3rem;
}

#project .project-content{
    max-width: 85%;
    margin: auto;
}

#project img{
    /* height: 200px; */
}

.tools-used{
    /* float:left; */
    font-size: 50px;
    /* display: inline-block; */
}

#project .details,
#project a
{
    /* float:right; */
    margin: 5px;
    /* display: inline-block; */
    /* width:fit-content; */
    
}

#project .card{
    min-height: 340px;
}

.modal-title,
.modal-body{
    color: black;
    
}

.modal .close{
    background-color: transparent;
}

.modal .tags{
    color: gray;
    /* font-family: ;*/
}



/*Contact
=====================*/
#contact{
    background-color: black;
    text-align: center;
    color:white;
}

#contact .contact-info{
    margin-top: 3.6rem;
}    

#contact .contact-info .icon{
    font-size: 4.2rem;
}    

/*Footer
=====================*/
footer{
    text-align: center;
    background-color: gray;
    color:white;
    padding: 30px 0;
}